<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dojo Survey</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .red{
            color: red;
        }

        .messages p{
            margin-bottom: -2px;
        }

        .messages{
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="messages">
            <p class='red'>{{message1}}</p>
            <p class='red'>{{message2}}</p>
            <p class='red'>{{message3}}</p>
            <p class='red'>{{message4}}</p>
        </div>
        <form action='/page' method='post'>
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlInput1">Name:</label>
                <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter your full name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">email:</label>
                <input type="text" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email address">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Dojo Location</label>
                <select name="location" class="form-control" id="exampleFormControlSelect1" placeholder="Choose your location">
                    <option value="Chicago">Chicago</option>
                    <option value="Sanjose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Burbank">Burbank</option>
                    <option value="LA">LA</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Favorite Language</label>
                <select name="language" class="form-control" id="exampleFormControlSelect1">
                    <option value="javascript">JavaScript</option>
                    <option value="python">Python</option>
                    <option value="c#">C#</option>
                    <option value="java">Java</option>
                    <option value="c++">C++</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comment (optional - MAX 140 characters)</label>
                <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3">{{comment}}</textarea>
            </div>
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>

</html>